body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Prompt", sans-serif;
  /* background-color: #2c2c54; */
  background-color: #fff;
  /* color: #fff; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
